---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Sorin &amp; Pyle Legal Blog</title>
  <subtitle>Expert legal insights and updates from Sorin &amp; Pyle criminal defense attorneys</subtitle>
  <link href="https://www.sorinpyle.com/blog/feed.xml" rel="self"/>
  <link href="https://www.sorinpyle.com/blog/"/>
  <updated>{{ collections.posts[0].date | htmlDateString }}</updated>
  <id>https://www.sorinpyle.com/blog/</id>
  <author>
    <name>Sorin &amp; Pyle, PC</name>
    <email>justice@callsbp.com</email>
  </author>
  {% for post in collections.posts | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://www.sorinpyle.com{{ post.url }}"/>
    <updated>{{ post.date | htmlDateString }}</updated>
    <id>https://www.sorinpyle.com{{ post.url }}</id>
    <content type="html">{{ post.templateContent | htmlEscape }}</content>
    <summary>{{ post.data.description }}</summary>
    <author>
      <name>{{ post.data.author }}</name>
    </author>
  </entry>
  {% endfor %}
</feed>
